<!-- <form>
    <div id="form">
       <div class="container">
          <div class="content-form">
             <div class="form-setter">
                <div id="login">
                   <div class="lable">Admin Register</div>>
                   <div class="row form-controler">
                      <div class="col"><input type="text" placeholder="First Name" name="firstName" [(ngModel)]="user.firstName" required></div>
                      <div class="col"><input type="text" placeholder="Last Name" name="lastName" [(ngModel)]='user.lastName'></div>
                   </div>
                <div class="container-fluid form-controlers">
                   <input type="email" placeholder="Email Id" name='email' [(ngModel)]='user.email' required>
                   <input type="text" placeholder="Phone" name="phone" [(ngModel)]='user.phone' required>
                   <input type="password" placeholder="Password" name='password' [(ngModel)]='user.password' required>
                   <input type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]='user.confirmPassword' required>
                   <button id="submit" (click)='register()'>Register</button>
                </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </form> -->



 
 <section class="vh-100">
   <div class="container-fluid h-custom">
     <div class="row d-flex justify-content-center align-items-center h-100">
       <div class="col-md-9 col-lg-6 col-xl-5">
         <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
           class="img-fluid" alt="Sample image">
       </div>
       <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
         <form>
           <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
             <p class="lead fw-normal mb-0 me-3 bg-light">Admin Signup</p>
             <button type="button" class="btn btn-primary btn-floating mx-1">
               <i class="fab fa-facebook-f"></i>
             </button>
 
             <button type="button" class="btn btn-primary btn-floating mx-1">
               <i class="fab fa-twitter"></i>
             </button>
 
             <button type="button" class="btn btn-primary btn-floating mx-1">
               <i class="fab fa-linkedin-in"></i>
             </button>
           </div>
 
           <div class="divider d-flex align-items-center my-4">
             <p class="text-center fw-bold mx-3 mb-0">Or</p>
           </div>
            <!--first name-->
            <div class="form-outline mb-4">
               <input type="email" [(ngModel)]='user.firstName' id="firstName" class="form-control form-control-lg"
                 placeholder="Enter a valid  fisrtName" name="firstName" />
               <label class="form-label" for="email">firstName</label>
             </div>
            <!--lastname-->
            <div class="form-outline mb-4">
               <input type="email" [(ngModel)]='user.lastName' id="lastName" class="form-control form-control-lg"
                 placeholder="Enter a LastName" name="lastName"  />
               <label class="form-label" for="email"> LastNAme</label>
             </div>
           <!-- Email input -->
           <div class="form-outline mb-4">
             <input type="email" [(ngModel)]='user.email' id="email" class="form-control form-control-lg"
               placeholder="Enter a valid email address" name="email"  />
             <label class="form-label" for="email">Email address</label>
           </div>
           <!--phone-->
           <div class="form-outline mb-4">
            <input type="email" [(ngModel)]='user.phone' id="phone" class="form-control form-control-lg"
              placeholder="Enter a valid Phone" name="phone"  />
            <label class="form-label" for="email">Phone</label>
          </div>
           <!-- Password input -->
           <div class="form-outline mb-3">
             <input type="password" [(ngModel)]='user.password' id="password" class="form-control form-control-lg"
               placeholder="Enter password"  name="pawssword"/>
             <label class="form-label" for="password">Password</label>
           </div>
            <!-- confrm Password input -->
            <div class="form-outline mb-3">
               <input type="password" [(ngModel)]='user.confirmPassword' id="confrmpassword" class="form-control form-control-lg"
                 placeholder="Enter confrm password"  name="confrmpawssword"/>
               <label class="form-label" for="password">Confrm Password</label>
             </div>
           <div class="d-flex justify-content-between align-items-center">
             <!-- Checkbox -->
             <div class="form-check mb-0">
                
             </div>
             <a href="#!" class="text-body"> </a>
           </div>
 
           <div class="text-center text-lg-start mt-4 pt-2">
             <button type="button" class="btn btn-primary btn-lg"
               style="padding-left: 2.5rem; padding-right: 2.5rem;" id="submit" (click)='register()'>Register</button>
             <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/login"
                 class="link-danger">Login</a></p>
           </div>
 
         </form>
       </div>
     </div>
   </div>
    
 </section>